{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<h1>Agregar Comida</h1>

    <form class="cuestionario m-0 row col-10 " action="" method="post">
        {%csrf_token%}
        <fieldset class="m-4 mt-1 bg-primary ">
            <legend class="fs-6 m-2 text-decoration-none btn btn-warning">Comida</legend>
            <div class="d-flex justify-content-between align-items-center">
                <label class="fs-6 m-2 text-decoration-none btn btn-warning">tipo: <input class="d-flex " type="text" name="tipo" placeholder="Gato o Perro " maxlength="30"></label>
                <label class="fs-6 m-2 text-decoration-none btn btn-warning">tamaño: <input class="d-flex " type="text" name="tamaño" placeholder="Grande Mediano Pequeño " maxlength="30" > </label>
                <label class="fs-6 m-2 text-decoration-none btn btn-warning">nombre: <input class="d-flex " type="text" name="nombre" placeholder="Marca" maxlength="30"> </label>
                <label class="fs-6 m-2 text-decoration-none btn btn-warning">peso: <input class="d-flex " type="number" name="peso" placeholder="Kg" min="0"> </label>
                <label class="fs-6 m-2 text-decoration-none btn btn-warning">precio: <input class="d-flex " type="number" name="precio" placeholder="Precio" min="0"> </label>      
            </div>
            <div class="d-flex justify-content-evenly">
                <input class="fs-6 m-2 text-decoration-none btn btn-warning" type="reset">
                <input class="fs-6 m-2 text-decoration-none btn btn-warning" type="submit">
            </div>
        </fieldset>
    </form>

{% endblock %}