{% extends 'ProyectoFinalApp/nav-aside.html' %}

{% load static %}

{% block contenidoPagina %}
<h1>Agregar Productos</h1>

<form class="cuestionario m-0 justify-content-between" action="">
    <fieldset class="cuestionario__body mt-0 justify-content-between">
        <legend class="text-center">Comida</legend>
        <div class="justify-content-between">
            <label>tipo: <input class="d-flex justify-content-between" type="text" placeholder="Nombre: "></label>
            <label>tamaño: <input class="d-flex justify-content-between" type="text" placeholder="Apellido: " > </label>
            <label>nombre: <input class="d-flex justify-content-between" type="text" placeholder="Email:"> </label>
            <label>peso: <input class="d-flex justify-content-between" type="number"  placeholder="Numero de telefono:"> </label>
            <label>precio: <input class="d-flex justify-content-between" type="number" placeholder="Numero de telefono:"> </label>      
        </div>
        <div class="">
            <input class="btn" type="reset">
            <Input class="btn" type="submit">
        </div>
    </fieldset>
</form>

<form class="cuestionario m-0 justify-content-between" action="">
    <fieldset class="cuestionario__body mt-0 justify-content-between">
        <legend class="text-center">Pipetas</legend>
        <div class="justify-content-between">
            <label>tipo: <input class="d-flex justify-content-between" type="text" placeholder="Nombre: "></label>
            <label>tamaño: <input class="d-flex justify-content-between" type="text" placeholder="Apellido: " > </label>
            <label>nombre: <input class="d-flex justify-content-between" type="text" placeholder="Email:"> </label>
            <label>peso: <input class="d-flex justify-content-between" type="number"  placeholder="Numero de telefono:"> </label>
            <label>precio: <input class="d-flex justify-content-between" type="number" placeholder="Numero de telefono:"> </label>      
        </div>
        <div class="">
            <input class="btn" type="reset">
            <Input class="btn" type="submit">
        </div>
    </fieldset>
</form>

<form class="cuestionario m-0 justify-content-between" action="">
    <fieldset class="cuestionario__body mt-0 justify-content-between">
        <legend class="text-center">Collares</legend>
        <div class="justify-content-between">
            <label>tipo: <input class="d-flex justify-content-between" type="text" placeholder="Nombre: "></label>
            <label>tamaño: <input class="d-flex justify-content-between" type="text" placeholder="Apellido: " > </label>
            <label>nombre: <input class="d-flex justify-content-between" type="text" placeholder="Email:"> </label>
            <label>peso: <input class="d-flex justify-content-between" type="number"  placeholder="Numero de telefono:"> </label>
            <label>precio: <input class="d-flex justify-content-between" type="number" placeholder="Numero de telefono:"> </label>      
        </div>
        <div class="">
            <input class="btn" type="reset">
            <Input class="btn" type="submit">
        </div>
    </fieldset>
</form>
{% endblock %}